[
 {kernel,
  [
   {error_logger, {file, "log/shadowsocks_client.log"}},
   {start_ddll, true},
   {start_disk_log, false},
   {start_os, true},
   {start_pg2, true},
   {start_timer, true}
  ]},

 {sasl,
  [
   {sasl_error_logger, {file,"log/shadowsocks_client_sasl.log"}},
   {errlog_type, error}
  ]},

 {shadowsocks,
  [
   {type, local},
   {local_port,1080},
   {server,"localhost"},
   {server_port,8388},
   {password,"barfoo!"},
   {method,default}
  ]}
].

